
/db
/output_files
/simulation
/incremental_db
c5_pin_model_dump.txt
main.qsf
*.qpf
/build
*.bak
*.mti
*.mpf
/work
transcript
*.bsf
*.cmp
*.ppf
*.sip
*.spd
*.f
*.vo
*.vstf
*.wlf
/puzzles
/training-data/
/greybox_tmp
*.ver
*.qws
.obsidian/
__pycache__/
*.pyc
